********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.CAD\00.PROGETTI\METALTRONICA\22-310-0\22-310-0.MAX  *
* Mon Dec 18 16:13:18 2023                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       40       200      100                                                                                 
T2       354      15       200      100                                                                                 
T3       472      17       200      100                                                                                 
T4       512      2        200      100                                                                                 
T5       551      3        200      100                                                                                 
T6       630      5        200      100                                                                                 
T7       1260     4        200      100                                                                                 
